//
   Created with JetBrains WebStorm.
   User: yujilong
   Date: 14-2-4
   Time: 上午9:45
   To change this template use File | Settings | File Templates.
html
    head
        meta(charset='utf-8')
        link(href='/plugs/bootstrap-3.0.3/bootstrap.min.css',rel='stylesheet')
        link(href='/plugs/bootstrap-3.0.3/bootstrap-theme.min.css',rel='stylesheet')
        title 找不到该页面
    body
        div.container
            a(href="/burning/cms")
                img(src="/images/common/404.jpg")

