.operating{
    margin-bottom: 20px;
}
.postImg{
    margin-top:5px;
    margin-bottom: 5px;
}
.postText{
    margin-top:5px;
    margin-bottom: 5px;
}
.postProgress{
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-red{
    color: darkred;
}
.text-green{
    color: green;
}
.post-handler-btns{
    margin-right: 5px;
}